
<form action="/" method="post">
  <h2>Create new Job Listing</h2>
  <div class="formrow">
    <label for="title">Job Title: </label>
    <input type="text" name="title">
  </div>
  <div class="formrow">
    <label for="company">Hiring Company</label>
    <input type="text" name="company">
  </div>
  <div class="formrow">
    <label for="shortDescription">Job Description</label>
    <textarea name="shortDescription" rows="8" cols="40"></textarea>
  </div>
  <div class="formrow">
    <label for="details">Responsibilities</label>
    <textarea name="details" rows="8" cols="40"></textarea>
  </div>
  <div class="formrow">
    <input type="submit" value="Create Posting">
    <a href="/">Cancel</a>
  </div>
</form>
